.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dashed cornflowerblue;/*var(--tg-theme-button-color);*/
    animation: rotate 2s infinite linear;
    margin-top: 20%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.4);
    }
}