.select {
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    border: 3px solid var(--tg-theme-button-color);
    outline: none;
    margin-top: 10px;
}

.custom_field {
    display: flex;
    justify-content: space-between;
}

.custom_input {
    width: 50%;
    margin-top: 10px;
}